In [7]:
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline

In [8]:
# read csv files for each playoff teams
bills = pd.read_csv(Path("resources/Buf_Bills2021.csv"), header=1)
rams = pd.read_csv(Path("resources/LA_Rams2021.csv"), header=1)
bengals = pd.read_csv(Path("resources/Cin_Bengals.csv"), header=1)
chiefs = pd.read_csv(Path("resources/KC_Chiefs2021.csv"), header=1)
cowboys = pd.read_csv(Path("resources/Dallas_Cowboys2021.csv"), header=1)
titans = pd.read_csv(Path("resources/Ten_Titans.csv"), header=1)
packers = pd.read_csv(Path("resources/GB_Packers2021.csv"), header=1)
buccaneers = pd.read_csv(Path("resources/Tampa_Buccaneers2021.csv"), header=1)
cardinals = pd.read_csv(Path("resources/Arizona_Cardinals.csv"), header=1)
patriots = pd.read_csv(Path("resources/NE_Patriots.csv"), header=1)
eagles = pd.read_csv(Path("resources/Philadelphia_Eagles.csv"), header=1)
fortyniners = pd.read_csv(Path("resources/SanFrancisco_49ers.csv"), header=1)
steelers = pd.read_csv(Path("resources/Pittsburgh_Steelers.csv"), header=1)
raiders = pd.read_csv(Path("resources/LasVegas_Raiders.csv"), header=1)
fortyniners.head()

,Week,Date,Unnamed: 2,Rec,Unnamed: 4,Opp,Tm,Opp.1,1stD,TotYd,...,RushY,TO,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,Offense,Defense,Sp. Tms
0,1,September 12,W,1-0,@,Detroit Lions,41.0,33.0,21.0,442.0,...,131.0,2.0,31.0,430.0,314.0,116.0,1.0,15.48,-5.16,-1.73
1,2,September 19,W,2-0,@,Philadelphia Eagles,17.0,11.0,23.0,306.0,...,117.0,NaN,18.0,328.0,177.0,151.0,NaN,7.86,-5.30,2.68
2,3,September 26,L,2-1,NaN,Green Bay Packers,28.0,30.0,25.0,298.0,...,67.0,2.0,21.0,353.0,253.0,100.0,NaN,12.19,-15.14,0.95
3,4,October 3,L,2-2,NaN,Seattle Seahawks,21.0,28.0,23.0,457.0,...,143.0,2.0,14.0,234.0,129.0,105.0,NaN,8.61,-2.20,-14.31
4,5,October 10,L,2-3,@,Arizona Cardinals,10.0,17.0,19.0,338.0,...,152.0,1.0,20.0,304.0,210.0,94.0,1.0,-6.53,-1.74,-0.47

In [9]:
bills = bills[0:16].drop(columns=['Date'])
rams = rams[0:16].drop(columns=['Date'])
bengals = bengals[0:16].drop(columns=['Date'])
chiefs = chiefs[0:16].drop(columns=['Date'])
cowboys = cowboys[0:16].drop(columns=['Date'])
titans = titans[0:16].drop(columns=['Date'])
packers = packers[0:16].drop(columns=['Date'])
buccaneers = buccaneers[0:16].drop(columns=['Date'])
cardinals = cardinals[0:16].drop(columns=['Date'])
patriots = patriots[0:16].drop(columns=['Date'])
eagles = eagles[0:16].drop(columns=['Date'])
fortyniners = fortyniners[0:16].drop(columns=['Date'])
steelers = steelers[0:16].drop(columns=['Date'])
raiders = raiders[0:16].drop(columns=['Date'])

In [10]:
bills.columns = ['Week','Result','Rec','Home','Opp','TmScore','OppScore',
                      'O_1stD','O_Tot_yd','O_P_Yd','O_R_Yd','O_TO',
                 'D_1stD','D_Tot_Yd','D_P_Yd','D_R_Yd','D_TO','Offence','Defense','Sp.Tms']
rams.columns = ['Week','Result','Rec','Home','Opp','TmScore','OppScore',
                      'O_1stD','O_Tot_yd','O_P_Yd','O_R_Yd','O_TO',
                 'D_1stD','D_Tot_Yd','D_P_Yd','D_R_Yd','D_TO','Offence','Defense','Sp.Tms']
bengals.columns = ['Week','Result','Rec','Home','Opp','TmScore','OppScore',
                      'O_1stD','O_Tot_yd','O_P_Yd','O_R_Yd','O_TO',
                 'D_1stD','D_Tot_Yd','D_P_Yd','D_R_Yd','D_TO','Offence','Defense','Sp.Tms']
chiefs.columns = ['Week','Result','Rec','Home','Opp','TmScore','OppScore',
                      'O_1stD','O_Tot_yd','O_P_Yd','O_R_Yd','O_TO',
                 'D_1stD','D_Tot_Yd','D_P_Yd','D_R_Yd','D_TO','Offence','Defense','Sp.Tms']
cowboys.columns = ['Week','Result','Rec','Home','Opp','TmScore','OppScore',
                      'O_1stD','O_Tot_yd','O_P_Yd','O_R_Yd','O_TO',
                 'D_1stD','D_Tot_Yd','D_P_Yd','D_R_Yd','D_TO','Offence','Defense','Sp.Tms']
titans.columns = ['Week','Result','Rec','Home','Opp','TmScore','OppScore',
                      'O_1stD','O_Tot_yd','O_P_Yd','O_R_Yd','O_TO',
                 'D_1stD','D_Tot_Yd','D_P_Yd','D_R_Yd','D_TO','Offence','Defense','Sp.Tms']
packers.columns = ['Week','Result','Rec','Home','Opp','TmScore','OppScore',
                      'O_1stD','O_Tot_yd','O_P_Yd','O_R_Yd','O_TO',
                 'D_1stD','D_Tot_Yd','D_P_Yd','D_R_Yd','D_TO','Offence','Defense','Sp.Tms']
buccaneers.columns = ['Week','Result','Rec','Home','Opp','TmScore','OppScore',
                      'O_1stD','O_Tot_yd','O_P_Yd','O_R_Yd','O_TO',
                 'D_1stD','D_Tot_Yd','D_P_Yd','D_R_Yd','D_TO','Offence','Defense','Sp.Tms']
cardinals.columns = ['Week','Result','Rec','Home','Opp','TmScore','OppScore',
                      'O_1stD','O_Tot_yd','O_P_Yd','O_R_Yd','O_TO',
                 'D_1stD','D_Tot_Yd','D_P_Yd','D_R_Yd','D_TO','Offence','Defense','Sp.Tms']
patriots.columns = ['Week','Result','Rec','Home','Opp','TmScore','OppScore',
                      'O_1stD','O_Tot_yd','O_P_Yd','O_R_Yd','O_TO',
                 'D_1stD','D_Tot_Yd','D_P_Yd','D_R_Yd','D_TO','Offence','Defense','Sp.Tms']
eagles.columns = ['Week','Result','Rec','Home','Opp','TmScore','OppScore',
                      'O_1stD','O_Tot_yd','O_P_Yd','O_R_Yd','O_TO',
                 'D_1stD','D_Tot_Yd','D_P_Yd','D_R_Yd','D_TO','Offence','Defense','Sp.Tms']
fortyniners.columns = ['Week','Result','Rec','Home','Opp','TmScore','OppScore',
                      'O_1stD','O_Tot_yd','O_P_Yd','O_R_Yd','O_TO',
                 'D_1stD','D_Tot_Yd','D_P_Yd','D_R_Yd','D_TO','Offence','Defense','Sp.Tms']
steelers.columns = ['Week','Result','Rec','Home','Opp','TmScore','OppScore',
                      'O_1stD','O_Tot_yd','O_P_Yd','O_R_Yd','O_TO',
                 'D_1stD','D_Tot_Yd','D_P_Yd','D_R_Yd','D_TO','Offence','Defense','Sp.Tms']
raiders.columns = ['Week','Result','Rec','Home','Opp','TmScore','OppScore',
                      'O_1stD','O_Tot_yd','O_P_Yd','O_R_Yd','O_TO',
                 'D_1stD','D_Tot_Yd','D_P_Yd','D_R_Yd','D_TO','Offence','Defense','Sp.Tms']

steelers

,Week,Result,Rec,Home,Opp,TmScore,OppScore,O_1stD,O_Tot_yd,O_P_Yd,O_R_Yd,O_TO,D_1stD,D_Tot_Yd,D_P_Yd,D_R_Yd,D_TO,Offence,Defense,Sp.Tms
0,1,W,1-0,@,Buffalo Bills,23.0,16.0,16.0,252.0,177.0,75.0,NaN,22.0,371.0,254.0,117.0,1.0,-0.54,3.55,5.01
1,2,L,1-1,NaN,Las Vegas Raiders,17.0,26.0,17.0,331.0,292.0,39.0,1.0,22.0,425.0,373.0,52.0,NaN,1.19,-12.75,0.99
2,3,L,1-2,NaN,Cincinnati Bengals,10.0,24.0,21.0,342.0,297.0,45.0,2.0,12.0,268.0,172.0,96.0,1.0,-8.46,-0.17,-6.09
3,4,L,1-3,@,Green Bay Packers,17.0,27.0,17.0,282.0,220.0,62.0,2.0,23.0,367.0,236.0,131.0,1.0,-5.05,-7.14,3.23
4,5,W,2-3,NaN,Denver Broncos,27.0,19.0,19.0,391.0,244.0,147.0,1.0,17.0,374.0,268.0,106.0,1.0,11.44,-5.37,1.98
5,6,W,3-3,NaN,Seattle Seahawks,23.0,20.0,22.0,345.0,226.0,119.0,1.0,18.0,309.0,165.0,144.0,1.0,-1.52,3.89,1.09
6,8,W,4-3,@,Cleveland Browns,15.0,10.0,21.0,370.0,255.0,115.0,NaN,19.0,306.0,210.0,96.0,1.0,1.77,2.67,-0.11
7,9,W,5-3,NaN,Chicago Bears,29.0,27.0,20.0,280.0,175.0,105.0,1.0,20.0,414.0,278.0,136.0,2.0,8.46,-4.26,-4.79
8,10,T,5-3-1,NaN,Detroit Lions,16.0,16.0,22.0,387.0,242.0,145.0,3.0,17.0,306.0,77.0,229.0,NaN,-6.61,5.57,1.04
9,11,L,5-4-1,@,Los Angeles Chargers,37.0,41.0,22.0,300.0,245.0,55.0,NaN,33.0,533.0,374.0,159.0,1.0,7.04,-20.68,7.92
10,12,L,5-5-1,@,Cincinnati Bengals,10.0,41.0,16.0,301.0,250.0,51.0,3.0,25.0,370.0,172.0,198.0,1.0,-15.89,-14.42,0.88
11,13,W,6-5-1,NaN,Baltimore Ravens,20.0,19.0,17.0,321.0,236.0,85.0,NaN,22.0,326.0,219.0,107.0,1.0,7.87,-1.95,-1.18
12,14,L,6-6-1,@,Minnesota Vikings,28.0,36.0,22.0,375.0,269.0,106.0,1.0,22.0,458.0,216.0,242.0,2.0,6.41,-8.68,-1.31
13,15,W,7-6-1,NaN,Tennessee Titans,19.0,13.0,12.0,168.0,133.0,35.0,NaN,22.0,318.0,117.0,201.0,4.0,-5.99,13.76,-0.69
14,16,L,7-7-1,@,Kansas City Chiefs,10.0,36.0,20.0,303.0,173.0,130.0,3.0,25.0,381.0,254.0,127.0,NaN,-6.16,-16.97,2.77
15,17,W,8-7-1,NaN,Cleveland Browns,26.0,14.0,20.0,299.0,109.0,190.0,1.0,15.0,232.0,139.0,93.0,2.0,0.38,12.27,4.51

In [11]:
bills.insert(0,"Team",'Bills')
rams.insert(0,"Team",'Rams')
bengals.insert(0,"Team",'Bengals')
chiefs.insert(0,"Team",'Chiefs')
cowboys.insert(0,"Team",'Cowboys')
titans.insert(0,"Team",'Titans')
packers.insert(0,"Team",'Packers')
buccaneers.insert(0,"Team",'Buccaneers')
cardinals.insert(0,"Team",'Cardinals')
patriots.insert(0,"Team",'Patriots')
eagles.insert(0,"Team",'Eagles')
fortyniners.insert(0,"Team",'49ers')
steelers.insert(0,"Team",'Steelers')
raiders.insert(0,"Team",'Raiders')

rams

,Team,Week,Result,Rec,Home,Opp,TmScore,OppScore,O_1stD,O_Tot_yd,...,O_R_Yd,O_TO,D_1stD,D_Tot_Yd,D_P_Yd,D_R_Yd,D_TO,Offence,Defense,Sp.Tms
0,Rams,1,W,1-0,NaN,Chicago Bears,34.0,14.0,18.0,386.0,...,74.0,NaN,24.0,322.0,188.0,134.0,2.0,21.58,0.85,-0.52
1,Rams,2,W,2-0,@,Indianapolis Colts,27.0,24.0,21.0,371.0,...,101.0,2.0,22.0,354.0,245.0,109.0,2.0,7.11,-1.29,-3.09
2,Rams,3,W,3-0,NaN,Tampa Bay Buccaneers,34.0,24.0,22.0,407.0,...,76.0,NaN,27.0,446.0,411.0,35.0,NaN,20.56,-15.15,3.43
3,Rams,4,L,3-1,NaN,Arizona Cardinals,20.0,37.0,24.0,401.0,...,121.0,2.0,27.0,465.0,249.0,216.0,NaN,8.94,-21.72,-2.64
4,Rams,5,W,4-1,@,Seattle Seahawks,26.0,17.0,24.0,476.0,...,118.0,1.0,22.0,354.0,262.0,92.0,2.0,13.76,-6.71,-0.05
5,Rams,6,W,5-1,@,New York Giants,38.0,11.0,22.0,365.0,...,131.0,2.0,21.0,261.0,201.0,60.0,4.0,7.63,19.06,-0.96
6,Rams,7,W,6-1,NaN,Detroit Lions,28.0,19.0,22.0,374.0,...,47.0,NaN,19.0,415.0,278.0,137.0,2.0,20.08,-3.32,-6.99
7,Rams,8,W,7-1,@,Houston Texans,38.0,22.0,26.0,467.0,...,165.0,NaN,18.0,323.0,279.0,44.0,1.0,22.20,-1.75,-8.01
8,Rams,9,L,7-2,NaN,Tennessee Titans,16.0,28.0,22.0,347.0,...,94.0,2.0,16.0,194.0,125.0,69.0,1.0,-11.78,-1.15,-0.53
9,Rams,10,L,7-3,@,San Francisco 49ers,10.0,31.0,16.0,278.0,...,52.0,2.0,20.0,335.0,179.0,156.0,NaN,-7.18,-11.33,-0.70
10,Rams,12,L,7-4,@,Green Bay Packers,28.0,36.0,15.0,353.0,...,68.0,3.0,21.0,399.0,307.0,92.0,1.0,-5.92,-4.66,0.69
11,Rams,13,W,8-4,NaN,Jacksonville Jaguars,37.0,7.0,24.0,418.0,...,128.0,NaN,14.0,197.0,136.0,61.0,2.0,21.19,12.55,-3.25
12,Rams,14,W,9-4,@,Arizona Cardinals,30.0,23.0,18.0,356.0,...,89.0,NaN,22.0,447.0,344.0,103.0,2.0,13.49,-0.66,-3.55
13,Rams,15,W,10-4,NaN,Seattle Seahawks,20.0,10.0,20.0,332.0,...,123.0,1.0,13.0,214.0,134.0,80.0,1.0,4.19,8.13,-3.72
14,Rams,16,W,11-4,@,Minnesota Vikings,30.0,23.0,22.0,356.0,...,159.0,3.0,19.0,361.0,295.0,66.0,1.0,-0.84,1.81,7.80
15,Rams,17,W,12-4,@,Baltimore Ravens,20.0,19.0,20.0,373.0,...,73.0,3.0,19.0,327.0,162.0,165.0,2.0,2.98,-0.40,-2.65

In [12]:
Team_df = [bills, rams, bengals, chiefs, cowboys, titans, packers, buccaneers, cardinals, patriots, eagles, fortyniners
           , steelers, raiders]
total_team_df = pd.concat(Team_df)
total_team_df

,Team,Week,Result,Rec,Home,Opp,TmScore,OppScore,O_1stD,O_Tot_yd,...,O_R_Yd,O_TO,D_1stD,D_Tot_Yd,D_P_Yd,D_R_Yd,D_TO,Offence,Defense,Sp.Tms
0,Bills,1,W,1-0,NaN,Chicago Bears,34.0,14.0,18.0,386.0,...,74.0,NaN,24.0,322.0,188.0,134.0,2.0,21.58,0.85,-0.52
1,Bills,2,W,2-0,@,Indianapolis Colts,27.0,24.0,21.0,371.0,...,101.0,2.0,22.0,354.0,245.0,109.0,2.0,7.11,-1.29,-3.09
2,Bills,3,W,3-0,NaN,Tampa Bay Buccaneers,34.0,24.0,22.0,407.0,...,76.0,NaN,27.0,446.0,411.0,35.0,NaN,20.56,-15.15,3.43
3,Bills,4,L,3-1,NaN,Arizona Cardinals,20.0,37.0,24.0,401.0,...,121.0,2.0,27.0,465.0,249.0,216.0,NaN,8.94,-21.72,-2.64
4,Bills,5,W,4-1,@,Seattle Seahawks,26.0,17.0,24.0,476.0,...,118.0,1.0,22.0,354.0,262.0,92.0,2.0,13.76,-6.71,-0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,Raiders,13,L,6-6,NaN,Washington Football Team,15.0,17.0,22.0,310.0,...,76.0,NaN,23.0,298.0,186.0,112.0,1.0,6.39,-8.22,-0.07
12,Raiders,14,L,6-7,@,Kansas City Chiefs,9.0,48.0,19.0,290.0,...,44.0,5.0,21.0,372.0,240.0,132.0,NaN,-9.74,-25.70,-1.07
13,Raiders,15,W,7-7,@,Cleveland Browns,16.0,14.0,20.0,328.0,...,98.0,2.0,13.0,236.0,147.0,89.0,NaN,1.60,-1.13,0.20
14,Raiders,16,W,8-7,NaN,Denver Broncos,17.0,13.0,22.0,342.0,...,160.0,3.0,8.0,158.0,140.0,18.0,NaN,-0.46,7.14,-2.09
15,Raiders,17,W,9-7,@,Indianapolis Colts,23.0,20.0,18.0,326.0,...,85.0,2.0,16.0,262.0,140.0,122.0,NaN,5.02,-4.03,3.28

In [13]:
total_team_df = total_team_df.fillna(1)

In [14]:
total_team_df = total_team_df.replace('@', 0)
total_team_df.head()

,Team,Week,Result,Rec,Home,Opp,TmScore,OppScore,O_1stD,O_Tot_yd,...,O_R_Yd,O_TO,D_1stD,D_Tot_Yd,D_P_Yd,D_R_Yd,D_TO,Offence,Defense,Sp.Tms
0,Bills,1,W,1-0,1,Chicago Bears,34.0,14.0,18.0,386.0,...,74.0,1.0,24.0,322.0,188.0,134.0,2.0,21.58,0.85,-0.52
1,Bills,2,W,2-0,0,Indianapolis Colts,27.0,24.0,21.0,371.0,...,101.0,2.0,22.0,354.0,245.0,109.0,2.0,7.11,-1.29,-3.09
2,Bills,3,W,3-0,1,Tampa Bay Buccaneers,34.0,24.0,22.0,407.0,...,76.0,1.0,27.0,446.0,411.0,35.0,1.0,20.56,-15.15,3.43
3,Bills,4,L,3-1,1,Arizona Cardinals,20.0,37.0,24.0,401.0,...,121.0,2.0,27.0,465.0,249.0,216.0,1.0,8.94,-21.72,-2.64
4,Bills,5,W,4-1,0,Seattle Seahawks,26.0,17.0,24.0,476.0,...,118.0,1.0,22.0,354.0,262.0,92.0,2.0,13.76,-6.71,-0.05

In [15]:
total_team_df = total_team_df.replace('W', 1)
total_team_df = total_team_df.replace('L', 0) 
total_team_df.head()

,Team,Week,Result,Rec,Home,Opp,TmScore,OppScore,O_1stD,O_Tot_yd,...,O_R_Yd,O_TO,D_1stD,D_Tot_Yd,D_P_Yd,D_R_Yd,D_TO,Offence,Defense,Sp.Tms
0,Bills,1,1,1-0,1,Chicago Bears,34.0,14.0,18.0,386.0,...,74.0,1.0,24.0,322.0,188.0,134.0,2.0,21.58,0.85,-0.52
1,Bills,2,1,2-0,0,Indianapolis Colts,27.0,24.0,21.0,371.0,...,101.0,2.0,22.0,354.0,245.0,109.0,2.0,7.11,-1.29,-3.09
2,Bills,3,1,3-0,1,Tampa Bay Buccaneers,34.0,24.0,22.0,407.0,...,76.0,1.0,27.0,446.0,411.0,35.0,1.0,20.56,-15.15,3.43
3,Bills,4,0,3-1,1,Arizona Cardinals,20.0,37.0,24.0,401.0,...,121.0,2.0,27.0,465.0,249.0,216.0,1.0,8.94,-21.72,-2.64
4,Bills,5,1,4-1,0,Seattle Seahawks,26.0,17.0,24.0,476.0,...,118.0,1.0,22.0,354.0,262.0,92.0,2.0,13.76,-6.71,-0.05

In [16]:
total_team_df.to_csv('./resources/Team_df.csv', index=False)

In [24]:
bills
rams
bengals
chiefs
cowboys
titans
packers
buccaneers
cardinals
patriots
eagles
fortyniners
steelers
raiders

,Team,Week,Result,Rec,Home,Opp,TmScore,OppScore,O_1stD,O_Tot_yd,...,O_R_Yd,O_TO,D_1stD,D_Tot_Yd,D_P_Yd,D_R_Yd,D_TO,Offence,Defense,Sp.Tms
0,steelers,1,W,1-0,NaN,Baltimore Ravens,33.0,27.0,26.0,491.0,...,82.0,1.0,20.0,406.0,217.0,189.0,2.0,11.58,-3.00,-2.58
1,steelers,2,W,2-0,@,Pittsburgh Steelers,26.0,17.0,22.0,425.0,...,52.0,NaN,17.0,331.0,292.0,39.0,1.0,12.75,-1.19,-0.99
2,steelers,3,W,3-0,NaN,Miami Dolphins,31.0,28.0,28.0,497.0,...,140.0,1.0,22.0,330.0,197.0,133.0,NaN,7.21,-5.04,0.43
3,steelers,4,L,3-1,@,Los Angeles Chargers,14.0,28.0,13.0,213.0,...,48.0,1.0,25.0,380.0,212.0,168.0,NaN,-7.95,-11.99,2.22
4,steelers,5,L,3-2,NaN,Chicago Bears,9.0,20.0,16.0,259.0,...,71.0,1.0,19.0,252.0,109.0,143.0,NaN,-7.14,-2.39,-2.05
5,steelers,6,W,4-2,@,Denver Broncos,34.0,24.0,16.0,426.0,...,86.0,NaN,25.0,421.0,309.0,112.0,4.0,16.95,-2.97,-1.18
6,steelers,7,W,5-2,NaN,Philadelphia Eagles,33.0,22.0,23.0,442.0,...,119.0,1.0,22.0,358.0,223.0,135.0,2.0,18.00,-4.67,1.38
7,steelers,9,L,5-3,@,New York Giants,16.0,23.0,24.0,403.0,...,117.0,3.0,16.0,247.0,98.0,149.0,1.0,-1.72,-0.51,-5.84
8,steelers,10,L,5-4,NaN,Kansas City Chiefs,14.0,41.0,15.0,299.0,...,50.0,2.0,29.0,516.0,422.0,94.0,1.0,-1.08,-34.37,7.21
9,steelers,11,L,5-5,NaN,Cincinnati Bengals,13.0,32.0,13.0,278.0,...,72.0,2.0,23.0,288.0,129.0,159.0,1.0,-6.44,-6.50,-5.53
10,steelers,12,W,6-5,@,Dallas Cowboys,36.0,33.0,28.0,509.0,...,143.0,NaN,23.0,437.0,373.0,64.0,NaN,18.14,-9.66,-3.08
11,steelers,13,L,6-6,NaN,Washington Football Team,15.0,17.0,22.0,310.0,...,76.0,NaN,23.0,298.0,186.0,112.0,1.0,6.39,-8.22,-0.07
12,steelers,14,L,6-7,@,Kansas City Chiefs,9.0,48.0,19.0,290.0,...,44.0,5.0,21.0,372.0,240.0,132.0,NaN,-9.74,-25.70,-1.07
13,steelers,15,W,7-7,@,Cleveland Browns,16.0,14.0,20.0,328.0,...,98.0,2.0,13.0,236.0,147.0,89.0,NaN,1.60,-1.13,0.20
14,steelers,16,W,8-7,NaN,Denver Broncos,17.0,13.0,22.0,342.0,...,160.0,3.0,8.0,158.0,140.0,18.0,NaN,-0.46,7.14,-2.09
15,steelers,17,W,9-7,@,Indianapolis Colts,23.0,20.0,18.0,326.0,...,85.0,2.0,16.0,262.0,140.0,122.0,NaN,5.02,-4.03,3.28